{{#foreach posts}}
  <a href="{{url}}" class="flex font-sans mb-5 p-1 hover:ring-blue-500 hover:shadow-md group rounded-md bg-white ring-1 ring-slate-200 shadow-sm">
    <div class="flex-none w-48 relative">
      <img src="{{feature_image}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" class="absolute inset-0 w-full h-full object-cover" />
    </div>
    <div class="flex-auto p-6">
      <div class="flex flex-wrap">
        <h2 class="flex-auto text-base font-medium text-slate-900">
          {{title}}
        </h2>
        <p class="w-full flex-none text-sm font-normal text-slate-700 mt-2">
          {{excerpt words="26"}}
          {{!-- <a href="{{url}}">Read more</a> --}}
        </p>
        <div class="w-full flex-none text-sm font-light text-slate-700 mt-2">
          {{!-- {{tags prefix=(t " on ")}} --}}
          <time datetime="{{date format='YYYY-MM-DD'}}">
            {{date format="DD MMMM YYYY"}}
          </time>
        </div>
      </div>
    </div>
  </a>
{{/foreach}}

{{pagination}}